///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


$color-brand: $brand-color;
$color-green: $color-brand;
$color-blue: #7aaef6;
$color-white: #ffffff;
$color-black: #000000;
$color-light-blue: #80cbc4;
$color-forground: #2f323d;


// Page
$inuit-base-background-color: $color-white;
$inuit-base-text-color: $color-white;

// Links
$color-links: $color-white;

// Text
$color-text-main: $color-black;
$color-text-secondary: #82848b;


// Buttons

a {
	color: $color-white;
}

a:hover {
	color: $color-light-blue;
}

// Iconic

// Page head

// Site nav
$color-site-nav:    $color-black;

// Page foot

// Headings

// quotes: 

// Boxes

// Bands


